<div class="bg-dark text-white py-2">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="d-flex gap-3">
            <span>📞 +31 6 12345678</span>
            <span>✉ info@transportbedrijf.nl</span>
        </div>

        <div>
            <span>Ma - Vr: 08:00 - 18:00</span>
        </div>
    </div>
</div>